body {
  background-image: url('./images/homebg.png');
  font-family: 'Roboto', sans;
}

a {
  text-decoration: none;
  text-align: center;
}

.login {
  margin: auto;
  width: 350px;
  border: 5px dotted black;
  padding: 20px;
  background-color: #84b082;
}

label {
  display: block;
}

#title {
  color: black;
}
nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.clothesImage {
  width: 30%;
  margin: 16px;
}

.item-container {
  background-color: #ffebcd;
}

#clothesContainer {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  justify-content: space-between;
}

.checkout {
  display: flex;
  justify-content: flex-end;

  font-size: 50px;
}

img {
  width: 300px;
  height: 300px;
}

#navBar {
  background-color: white;
}

h1 {
  text-align: center;
  flex-flow: row nowrap;
}

#allClothes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#quantity {
  width: 30px;
}

#logout {
  position: absolute;
  right: 10px;
}

#profileContainer {
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: 'black';
  margin: 0px;
  overflow: hidden;
}

.add-cart {
  padding: 10px 70px;
  border: none;
  background-color: #000000;
  color: #fff8dc;
}
